<nav class="navbar navbar-expand-lg navbar-dark top-container">
        <a class="navbar-brand signature" href="index.html">M.Gina</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse home-header" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#second-container">Referrals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#slide-in">Credentials</a>
            </li>
            <li class="nav-item">
              <div class="accordion">
                <div class="nav-link">
                  <h2 class="nav-item">
                    <button class="nav-link nav-link-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Contact Me
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse hide" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul class="contact-links">
                        <a href="https://www.linkedin.com/in/mondli-gina-774a761a2/" target="https://www.linkedin.com/in/mondli-gina-774a761a2/"><li><i class="fab fa-linkedin"></i></li></a>
                        <a href="mailto:mondligina86@.gmail.com"><li><i class="far fa-envelope"></i></li>
                        <a href="https://twitter.com/MondliGina" target="https://twitter.com/MondliGina"><li><i class="fab fa-twitter"></i></li></a>
                      </ul>
                    </div>
                  </div>
                </div>
            </li>
        </ul>
      </div>
    </div>
</nav>
