<!DOCTYPE html>

<!-- Header -->

<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mondli Gina</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Great+Vibes&display=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>

<%- include("header"); -%>

<!-- Referrals Start -->

<h1 class="header-1">Mondli Gina</h1>

<section id="about">

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Erat imperdiet sed euismod nisi porta lorem. Enim neque volutpat ac tincidunt vitae semper quis lectus nulla.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim neque volutpat ac tincidunt vitae semper. Convallis tellus id interdum velit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cursus euismod quis viverra nibh cras pulvinar mattis nunc sed.</p>
</section>

<!-- Referrals End -->

<!-- Top Container -->

    <div class="top-container">
      <div class="white-container">

      </div>
      <img class="main-picture top-container" src="images/IMG_20210522_194842.jpg" alt="Main Picture">

    </div>

<!-- Second Container -->

<div id="second-container">

  <img class="about-picture"src="images/IMG_20210522_194843.jpg" alt="About Picture">
  <h1 class="second-container-header">Referrals</h1>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner second-container-paragraph">
      <div class="carousel-item active">
        <p class="title-paragraph">Mauris cursus mattis molestie a iaculis at. Eu volutpat odio facilisis mauris. Consectetur adipiscing elit ut aliquam. Est ultricies integer quis auctor elit sed vulputate. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Consequat semper viverra nam libero justo laoreet sit amet. Nibh nisl condimentum id venenatis a condimentum vitae sapien. Ac tortor vitae purus faucibus ornare suspendisse sed nisi. Sed lectus vestibulum mattis ullamcorper. Varius quam quisque id diam vel quam elementum pulvinar.</p>
        <a class="referral-author" href="https://www.linkedin.com/in/denise-wilson-97277920/" target="https://www.linkedin.com/in/denise-wilson-97277920/"><em>~Dr Wilson</em></a>
      </div>
    <div class="carousel-item">
        <p class="title-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas maecenas pharetra convallis. Morbi tincidunt augue interdum velit euismod in. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Aliquam nulla facilisi cras fermentum odio.</p>
        <a class="referral-author" href="https://www.linkedin.com/in/bongani-alphouse-nkala-phd-63a78419/" target="https://www.linkedin.com/in/bongani-alphouse-nkala-phd-63a78419/"><em>~Dr Nkala</em></a>
      </div>
      <div class="carousel-item">
        <p class="title-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet aliquam id diam maecenas ultricies mi. Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Volutpat est velit egestas dui id.</p>
        <a class="referral-author" href="https://www.linkedin.com/in/liqonde-sibanda-767177105/" target="https://www.linkedin.com/in/liqonde-sibanda-767177105/"><em>~Mr Sibanda</em></a>
      </div>
    </div>
  </div>

</div>

<section id="slide-in" class="third-container">

            <h1 class="h1-programming slide-in">Programming</h1>
            <p></p>
            <img class="programming slide-in" src="images/programming-FI-970x648.jpg" alt="programming">

            <h1 class="h1-technical-skills slide-in">Technical Skills</h1>
            <p></p>
            <img class="technical-skills slide-in" src="images/nKxjtv3b.jpg" alt="technical-skills">

            <!-- <h1 class="h1-writing slide-in">Writing</h1>
            <p></p>
            <img class="writing slide-in" src="https://cssh.northeastern.edu/philosophy/wp-content/uploads/sites/11/2020/03/philosophy.jpg" alt="writing"> -->

</section>

<hr>

<div class="fourth-container">

</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="index.js" charset="utf-8"></script>

  <%- include("footer"); -%>

  </body>
</html>
